@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
section {
  padding: 0 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #de3334;
}

h3 {
  font-size: clamp(3rem, 9vw, 4rem);
  letter-spacing: 0.07rem;
  margin: 20px;
}

sup,
sub {
  font-size: 0.7rem;
}

.about::after {
  content: url("img/stadia/01_mobile_drop_down.png");
  height: 50px;
}

:root {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", sans-serif;
  color: white;
  background-image: url(/img/stadia/landing.jpg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  white-space: nowrap;
  background: linear-gradient(180deg, #000001 0%, rgba(29, 28, 28, 0.5) 50%, rgba(224, 91, 91, 0) 100%);
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  letter-spacing: 0.07rem;
}
header nav .logo {
  padding: 0 25px 0 0;
}
header nav .logo svg {
  fill: white;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-weight: bold;
  flex: auto 1;
}
header nav ul li {
  padding: 0 16px 0 0;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li .about {
  padding: 0 16px 0 0;
}
header nav ul li .games {
  color: #808080;
}
header nav .signin-btn {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
}

.landing {
  height: 100vh;
  padding: 0 !important;
}

.landing-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 75vh;
  color: white;
  padding: 25px;
  background: none;
}
.landing-txt .sub-h {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.07rem;
}
.landing-txt .try {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 0.9rem 4rem;
}
.landing-txt .tnc {
  max-width: 60ch;
  font-size: clamp(1rem, 1vw, 1rem);
}
.landing-txt .tnc a {
  color: white;
  text-decoration: underline;
}

main {
  color: black;
  background: white;
}
main .sticky-nav {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2), 0 0.5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  white-space: nowrap;
}
main .sticky-nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  letter-spacing: 0.07rem;
  margin: 10px 0;
}
main .sticky-nav nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-weight: bold;
  flex: auto 1;
}
main .sticky-nav nav ul li {
  padding: 0 16px 0 0;
}
main .sticky-nav nav ul li a {
  text-decoration: none;
  color: white;
}
main .sticky-nav nav ul li .about {
  padding: 0 16px 0 0;
  color: black;
}
main .sticky-nav nav ul li .games {
  color: #808080;
}
main .sticky-nav nav .logo {
  padding: 0 16px 0 0;
  width: 50px;
}
main .sticky-nav nav .try {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  color: white;
  margin: -1px 0 0 0;
}
main #games {
  margin: 100px 0 0 0;
}
main #games s-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #games h3 {
  font-size: clamp(2.2rem, 5vw, 2.8rem);
}
main #games p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 60ch;
  margin: 30px auto 0 auto;
  color: #808080;
  letter-spacing: 0.04rem;
}

.p-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
  gap: calc(428vw / 100);
}
.p-flex .ch-1-flex,
.p-flex .ch-2-flex {
  display: flex;
  flex-direction: row;
  gap: calc(428vw / 100);
}
.p-flex img {
  width: auto;
  height: calc(50vw / 2);
}
.p-flex .show-all {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  background: #2a2b2e;
  color: #e4e4e4;
  margin: 90px 180px 0 180px;
  font-size: 1.2rem;
}

#stadia-pro {
  margin: 150px 0 0 0;
}
#stadia-pro h3 {
  font-size: clamp(2rem, 9vw, 4rem);
}
#stadia-pro p {
  color: #808080;
  font-size: 1rem;
  margin-top: 0.375rem;
}
#stadia-pro .pro-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 0.8125rem;
}
#stadia-pro .pro-graphics img {
  width: calc(900px / 4);
}
#stadia-pro .pro-graphics .graphics {
  display: flex;
  flex-direction: column;
  max-width: 16.625rem;
  max-height: 14.75rem;
}
#stadia-pro .pro-graphics .h2 {
  font-size: 1.25rem;
}

#insta-play {
  margin-top: 250px;
}
#insta-play h3 {
  font-size: clamp(2rem, 9vw, 4rem);
}
#insta-play img {
  margin-top: 3.5rem;
  width: clamp(300px, 37.5rem, 96%);
}
#insta-play p {
  color: #808080;
  font-size: 1rem;
  margin-top: 0.375rem;
}

#faqs {
  margin-top: 10.75rem;
  padding: 0 50px 6.45rem 50px;
}
#faqs .drop-faqs {
  text-align: left;
  margin: 50px auto;
  max-width: 90ch;
}
#faqs .drop-faqs .faq-container {
  border-bottom: 1px solid #e4e4e4;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
#faqs .drop-faqs .faq-head {
  display: flex;
  align-items: center;
}
#faqs .drop-faqs .faq-txt {
  padding-bottom: 30px;
  color: #808080;
  transition: all 1s ease-in-out;
}
#faqs .drop-faqs .expand {
  display: none;
}
#faqs .drop-faqs .height {
  height: 70px;
}
#faqs .drop-faqs .drop-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #de3334;
  margin: 0 0 0 auto;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
#faqs .drop-faqs .drop-ico img {
  width: 15px;
}
#faqs .drop-faqs h4 {
  padding: 1.5rem 0;
  flex: 1;
  color: #2a2b2e;
}
#faqs .footnote {
  max-width: 100ch;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  color: #808080;
  margin: auto;
}
#faqs .footnote p {
  margin: 5px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #2a2b2e;
  flex: auto;
}
footer .foot .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
footer .foot .links {
  flex: 2 auto;
}
footer .foot .links ul {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  list-style: none;
}
footer .foot .links ul li {
  padding: 0.75rem 0.75rem;
  line-height: 1.5rem;
  font-weight: 500;
}
footer .foot .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* mobile view */
@media screen and (max-width: 720px) {
  header {
    font-size: 0.7rem;
  }
  header .games {
    display: none;
  }
  header .signin-btn {
    font-size: 0.8rem !important;
    font-weight: bold;
    text-align: center;
    font-size: 0.2rem;
  }

  .landing {
    height: 57vh;
  }
  .landing .landing-txt {
    height: auto;
  }

  main .sticky-nav {
    font-size: 0.7rem;
  }
  main .sticky-nav .games {
    display: none;
  }
  main #stadia-pro .pro-graphics {
    flex-direction: column;
  }
  main #stadia-pro .graphics {
    margin: 50px;
  }
  main .p-flex .show-all {
    margin: 50px 0 0 0;
  }

  footer .foot {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  footer .foot .links ul {
    flex-direction: column;
  }
  footer .foot .links ul li {
    padding: 0.4rem 0.25rem;
  }
  footer .foot .left {
    flex-direction: column;
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */