@import url("http://fonts.cdnfonts.com/css/product-sans");
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", sans-serif;
  color: white;
  background-image: url(https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_static_hero-trimmed.jpg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: linear-gradient(180deg, #000001 0%, rgba(29, 28, 28, 0.5) 50%, rgba(224, 91, 91, 0) 100%);
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  letter-spacing: 0.07rem;
}
header nav .logo {
  padding: 0 25px 0 0;
}
header nav .logo svg {
  fill: white;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-weight: bold;
  flex: auto 1;
}
header nav ul li {
  padding: 0 16px 0 0;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li .about {
  padding: 0 16px 0 0;
}
header nav ul li .games {
  color: gray;
}
header nav .signin-btn {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
}

main {
  color: black;
}
main .landing {
  position: absolute;
  top: 0;
  z-index: -1;
  min-width: 100vw;
  height: 100vh;
}
main .landing-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  color: white;
}
main .landing-txt h3 {
  font-size: 2.5rem;
  letter-spacing: 0.07rem;
}
main .landing-txt .sub-h {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
}
main .landing-txt .try {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  margin: 20px 0;
  padding: 0.9rem 2em;
}
main .landing-txt .tnc a {
  color: white;
}
main .sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2), 0 0.5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
main .sticky-nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  letter-spacing: 0.07rem;
  margin: 10px 0;
}
main .sticky-nav nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-weight: bold;
  flex: auto 1;
}
main .sticky-nav nav ul li {
  padding: 0 16px 0 0;
}
main .sticky-nav nav ul li a {
  text-decoration: none;
  color: white;
}
main .sticky-nav nav ul li .about {
  padding: 0 16px 0 0;
  color: black;
}
main .sticky-nav nav ul li .games {
  color: gray;
}
main .sticky-nav nav .logo {
  margin: 0 16px 0 0;
  padding: 0 16px 0 0;
  width: 50px;
}
main .sticky-nav nav .try {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  color: white;
  margin: -1px 0 0 0;
}
main #games {
  margin: 100px 0 0 0;
}
main #games s-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #games h3 {
  font-size: 2.5rem;
  letter-spacing: 0.07rem;
}
main #games p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 60ch;
  margin: 20px 0 0 0;
  color: gray;
  letter-spacing: 0.04rem;
}

.p-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 0 0;
  gap: 30px;
}
.p-flex .ch-1-flex,
.p-flex .ch-2-flex {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.p-flex img {
  width: auto;
  max-height: 250px;
}
.p-flex .show-all {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.7em 1.7em;
  border-radius: 0.25rem;
  background: linear-gradient(90deg, #f8491b 0%, #f12f3f 50%, #dc1860 100%);
  background: #2a2b2e;
  color: #e4e4e4;
  margin: 90px 180px 0 180px;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */